<footer class="site-footer">
  <div class="container">
    &copy; 2014

    <nav>
      <a href="http://www.lewagon.org" target="_blank">Le Wagon</a> &middot;
      <a href="mailto:contact@lewagon.org" target="_blank">Contact</a>
    </nav>

    <nav class="social">
      <a href="https://twitter.com/Lewagonparis" title="Follow Le Wagon on Twitter" target="_blank">
        <i class="icon icon-twitter black"></i>
      </a>

      <a href="https://facebook.com/lewagonformation" title="Follow Le Wagon on Facebook" target="_blank">
        <i class="icon icon-facebook black"></i>
      </a>
    </nav>
  </div>
</footer>