<footer class="site-footer">
    <div class="container">
        &copy; 2014

        <nav>
            <a href="http://www.lewagon.org" target="_blank">Le Wagon</a> &middot;
            <a href="http://www.lewagon.org/premiere" target="_blank">Web dev bootcamp for entrepreneurs</a>
        </nav>

        <nav class="social">

            <a href="https://twitter.com/Lewagonparis" title="Follow on Twitter" target="_blank">
              <i class="icon icon-twitter black"></i>
            </a>

            <a href="https://facebook.com/lewagonformation" title="Follow on Facebook" target="_blank">
              <i class="icon icon-facebook black"></i>
            </a>
        </nav>
    </div>
</footer>