<section class="site-nav">
  <header class="container">
    <nav class="tagline">
      <a href="{{ site.baseurl}}/reservation" class="btn btn-sm">Je réserve</a>
    </nav>
    <nav id="navigation">
      <a class="brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/logo.png" alt="Le Wagon">
      </a>
      <a href="{{ site.baseurl }}/code">Code</a>
      <a href="{{ site.baseurl }}/surf">Surf</a>
      <a href="{{ site.baseurl }}/lieu">Le lieu</a>
    </nav>
  </header>
</section>