<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="shortcut icon" href="{{ site.baseurl}}/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{ site.baseurl}}/favicon.ico" type="image/x-icon">

  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}" />
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/og.jpg" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:site_name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:creator" content="@Lewagonaris">
  <meta name="twitter:image:src" content="{{ site.url }}{{ site.baseurl }}/assets/og.jpg">
</head>
