<section class="site-nav">
    <header>
        <nav id="navigation">
            <a class="brand" href="/">
                <img src="/assets/logo.png" alt="Le Wagon">
            </a>
 <!--            <a href="/" class="home">Blog</a>
            <a href="https://sendtoinc.com">Product</a>
            <a href="https://sendtoinc.com/about/">About</a> -->
        </nav>
        <nav class="tagline">
            <span></span>
            <a href="https://lewagon.wufoo.com/forms/le-wagon-surf-camp/" class="btn btn-outline">Book your seat</a>
            <a href="https://lewagon.wufoo.com/forms/le-wagon-surf-camp/" class="btn btn-outline btn-small">Book</a>
        </nav>
    </header>
</section>